@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-family: 'Open Sans', sans-serif;

  color-scheme: light dark;
  color: black;
  background-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
@font-face {
  font-family: 'mohave';
  src: url('./assets/font/Mohave.otf');
}

@font-face {
  font-family: 'bebas neue';
  src: url('./assets/font/BebasNeue.otf');
}

@font-face {
  font-family: 'ronnia';
  src: url('./assets/font/RonniaReg.otf');    
}

@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('./assets/font/AvenirLTStd-Medium.otf');    
}

@font-face {
  font-family: 'lato';
  src: url('./assets/font/Lato-Regular.ttf');    
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap');