
.video-animation{
    cursor: pointer;
    max-height: 500px;
    margin-bottom: 10px;
    object-fit: contain;
}


//for nav-tabs
.nav-tabs .nav-link {
    color: #4b5563;
}


.nav-tabs .nav-link.active {
    color: #2563eb;
    border-color: #2563eb;
}

.transition{
    -webkit-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear 0s;
}

.tab > .visible{
    display: block;
}
