@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: #E6E6E6;

  font-family: "Frankfurter";

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'mohave';
  src: url('../resources/fonts/Mohave.otf');
}

@font-face {
  font-family: 'bebas neue';
  src: url('../resources/fonts/BebasNeue.otf');
}

@font-face {
  font-family: 'ronnia';
  src: url('../resources/fonts/RonniaReg.otf');    
}

@font-face {
  font-family: 'AvenirLTStd-Medium';
  src: url('../resources/fonts/AvenirLTStd-Medium.otf');    
}

@font-face {
  font-family: 'lato';
  src: url('../resources/fonts/Lato-Regular.ttf');    
}

@font-face {
  font-family: 'UnitedSansSemiCond-Black';
  src: url('../resources/fonts/UnitedSansSemiCond-Black.otf');    
}

@font-face {
  font-family: 'UnitedSansSemiCond-Black';
  src: url('../resources/fonts/UnitedSansSemiCond-Bold.otf');    
}
